header{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-left: 2%;
    padding-right: 2%;
    height: 70px;
    position: fixed;
    background-color: #353B43;
    top: 0;
    z-index: 3;
}
.hambBtn{
    width: 50px;
}
.headLogo{
    width: 170px;
}
.h_s1{
    display: flex;
    align-items: center;
    width: 10%;
    z-index: 2;
}
.burgar{
    position: fixed;
    background-color: #353B43;
    border-radius: 20px;
    height: 300px;
    width: 300px;
    z-index: 0;
    margin-top: 180px;
}
.burgList{
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: space-between;
    margin-top: 100px;
    margin-left: 40px;
}
.burgList a{
    text-decoration: none;
    text-align: left;
    font-size: 30px;
    color: #F3F3F2;
    font-family: Bahnschrift;
}
.h_s2{
    display: flex;
    width: 30%;
    align-items: center;
    justify-content: space-between;
}
.h_s2 input{
    width: 400%;
    max-width: 500px;
    height: 50px;
    border-radius: 10px;
    border: none;
    font-family: Bahnschrift;
    font-size: 24px;
}
.h_s2 img{
    height: 30px;
    margin-left: 2%;
}
.h_s3 img{
    height: 60px;
}
.h_s3{
    margin-right: 5%;
}